.pages {
  margin: auto;
  width: 390px;
  height: 844px;

  /* visibility: hidden; */
  position: absolute;
  left: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 390px; /* Need a specific value to work */
  align-items: center;
  box-shadow: 0 0 20px 0 black;
}

.app {
  width: 100%;
  height: 80pt;
  position: absolute;
  height: 100%;
  width: 100%;
}

#page2,
#page3,
#page4,
#page5,
#page6,
#page7,
#page8,
#page9,
#homePage,
#bio {
  display: none;
}

#first-name {
  margin: auto;
}
#page1 {
  background-image: url("https://cdn.discordapp.com/attachments/1198061671428665346/1198452022677082262/Screenshot_2024-01-20_at_9.20.23_PM.png?ex=65bef46c&is=65ac7f6c&hm=851f77415f1a2ef5287cee73de578daa21e661b864e2ce9cbd57dc6ac28c9ae0&");
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: #27326d 5px;
  background-position: 50% 50%;
  background-size: 120%;
}
#page2,
#page3,
#page4,
#page5,
#page7,
#page6 {
  padding: 50px;
  text-align: center;
  font-size: 30px;
  color: #27326d;
  box-shadow: #27326d 5px;
}

.button {
  position: center;
  margin: auto;
  background-color: #27326d;
  border-radius: 20px;
  padding-bottom: 20px;
}
.choice {
  position: center;
  margin: auto;
  background-color: #27326d;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 125px;
}
#button1 {
  margin-top: 500px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #27326d;
}
#button2 {
  margin-top: 20px;
  padding-right: 75px;
  padding-left: 75px;
  background-color: #dce1ff;
  color: #27326d;
}

#button3 {
  margin-top: 125px;
}
#button4 {
  margin-top: 133px;
}
#button7 {
  margin-top: 470px;
}
#button8 {
  margin-top: 470px;
}
#button9 {
  margin-top: 410px;
}

#page4 {
  text-align: center;
}

.mainPage {
  position: absolute;
}
h2 {
  text-align: center;
}
.login-form {
  text-align: center;
  padding: 20px;
}
.loginButtons {
  margin-top: 175%;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
#homePage {
  position: absolute;
  background: white;
  margin: auto;
  width: 390px;
  height: 844px;

  position: absolute;
  left: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 390px; /* Need a specific value to work */
  align-items: center;
  box-shadow: 0 0 20px 0 black;
}

.pageTwoHeader {
  display: inline-block;
  font-size: 24px;
  padding-bottom: 15px;
  margin: 46px 0 0 20px;

  color: #27326d;
}
.sidenav-trigger {
  margin: 46px 30px 0px 0px;
  float: right;
}
#search {
  background-color: white;
}

.headshot {
  width: 90px;
  height: 95px;
  object-fit: cover;
  object-position: 25% 25%;
  border-radius: 10px;
}
.flag {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 25% 25%;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-bio {
  float: right;
  padding: 30px 0 0 10px;
}
.card {
  border-radius: 10px;
}
.card-content {
  display: inline-block;
  color: #27326d;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px;
}

#footerNav {
  display: none;
}

#userNav {
  position: fixed;
  bottom: 0px;
  margin-bottom: -5px;
  width: 100%;
  height: 90px;
  background-color: #27326d;
  overflow: visible;
}
.navButtons {
  margin-top: 10px;
  text-align: center;
}
.iconSet {
  height: 30px;
}
div.item {
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 85px;
}
.caption {
  display: block;
  color: white;
}

.quick-bio {
  color: #27326d;
  display: inline-block;
  padding-left: 10px;
}
.flag-bio {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  top: 100px;
  right: 25px;
}
.interpreterInfo {
  padding-top: 72px;
  position: fixed;
  width: 100%;
  height: 25%;
  background-color: white;
}
.interpreterMainBio {
  padding-top: 50%;
  overflow-y: auto;
  padding-bottom: 25%;
  color: #777777;
  padding-left: 20px;
}
.interpreterMainBio h5 {
  color: #27326d;
}
.profile {
  margin-left: 20px;
  float: left;
  /* margin-top: 50px; */
  width: 90px;
  height: 95px;
  object-fit: cover;
  object-position: 25% 25%;
  border-radius: 50%;
}
