.pages{
  margin: auto;

  width: 390px;
  height: 844px;


  /* visibility: hidden; */
  position:absolute;
  left:50%;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 390px; /* Need a specific value to work */
  align-items:center;
  box-shadow: 0 0 20px 0 black;

}
#page1{

  background-image: url("https://media.discordapp.net/attachments/1198061671428665346/1198356962971242687/newcomer-womens-services-english-classesjpg.jpg?ex=65be9be4&is=65ac26e4&hm=682e906535ac0261203b159e27ab3a7ad19a1cb838205202b3b8c146cb111237&=&format=webp&width=1015&height=676");

  background-position: bottom 175px right -150px;
  background: linear-gradient(0deg, 50%,white);
  

}
#page2, #page3, #page4, #page5,#page6,#page7,#page8,#page9,#homepage{
  display: none;
}
#button1{
margin-top:500px;

}
#button2{
  margin-top:20px;

  
}

.app{

  text-align:center;
  width:100%;
  height: 80pt;

 
}

.button{
  margin:20px;
  background-color:#27326D;
  border-radius:20px;
  padding-bottom: 20px;
}
.choice{
  padding:50px;
  background-color:#27326D;
  border-radius:20px;
}

